html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

#wrapper {
  width: 100vw;
  height: 100vh;
}

#main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-button {
  padding: 0.5rem 2.0rem;
  border: none;
  border-radius: 0px;
  box-shadow: 0.25rem 0.25rem;
}

#create-button:hover {
  cursor: pointer;
  background-color: #aaaaaa;
}
