html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

#exit-button {
  position: absolute;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  top: 10px;
  right: 10px;
}

#game-container {
  width: 100vw;
  height: 100vh;
}

#lobby-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-button {
  padding: 0.5rem 2.0rem;
  border: none;
  border-radius: 0px;
  box-shadow: 0.25rem 0.25rem;
}

#create-button:hover {
  cursor: pointer;
  background-color: #aaaaaa;
}
